#banner {
  width: 100%;
  height: 100vh;
}

#banner-bg {
  height: 80vh;
  background-image: url('./image/banner.jpg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 70% 100%;
  display: flex;
  flex-direction: column;
}
/* Banner Content */
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#banner-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 75%;
  margin: auto;
}


.banner-sub-text {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0 0 4rem;
}
.banner-sub-text > hr {
  width: 2em;
}
