#collection {
  width: 100%;
  padding-top: 5rem;
  position: relative;
}

/* collect header */

#collection-title {
  text-align: center;
}

#collection-sub-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}
#collection-sub-title-txt {
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  align-items: center;
  justify-content: start;
}
#collection-sub-title-txt > h4 {
  background-color: var(--primary-color);
  width: 30rem;
}

/* collection sub title*/
#col-01-title,
#col-02-title,
#col-03-title {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#col-01-title {
  align-items: center;
}

#col-02-title {
  justify-content: center;
}

#col-03-title {
  justify-content: end;
}

/* html symbols (bars)*/
.bar {
  font-size: 1em;
}

.horizontal-bar {
  transform: scale(4, 1.15);
}
.vertical-bar {
  transform: scale(1, 3);
  width: 1rem;
}

.number {
  color: gray;
  font-size: 3em;
  height: 1.2em;
}

/* Collection Part 01 */
#col-01 {
  margin-top: 3rem;
}

#col-01-photo {
  display: flex;
  padding: 0rem 1rem 1rem 1rem;
  gap: 1rem;
  width: 60%;
}
.img-box {
  width: calc(50% - 0.5rem);
}

#col-01-content {
  display: flex;
}

#col-01-text {
  padding: 3rem 0 0 3rem;
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.read-more {
  font-size: 0.8rem;
  font-weight: 600;
}
#col-01-logo {
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: center;
  gap: 1rem;
}
#col-01-logo > .bar {
  transform: scale(1, 10);
  height: 1.3rem;
}
#col-01-logo > img {
  width: 100px;
  background-color: yellow;
}

#col-01-text > p {
  text-align: justify;
}
/* end collection part 1 (upper part) */

/* Collectection part 1 Bottom Part */
#col-01-bottom {
  display: flex;
  margin-top: -5rem;
}

/* 2 in 1 photo*/
#col-01-bottom-photo {
  width: 40%;
  display: flex;
  padding: 1rem;
  gap: 1rem;
  background-color: white;
}

#col-01-bottom-text {
  width: 55%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0 0 8rem;
}
#col-01-bottom-text > h3 {
  background: linear-gradient(#fff 50%, lightgray 50%);
  width: fit-content;
}

#col-01-bottom-text > .bar {
  transform: scale(1, 8);
  height: 1.3rem;
  width: 0.8rem;
  margin-bottom: 3rem;
}

#col-01-bottom-text > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: end;
  align-items: end;
}

#col-01-bottom-text > div > p,
#col-01-bottom-text > div > span {
  text-align: justify;
  width: 70%;
  margin: 0 3.5rem 0 auto;
}

/* collection part 02 */

#col-02-content,
#col-03-content {
  display: flex;
  gap: 1rem;
  width: 90%;
  margin: 0 0 0 10%;
}

#col-02-text {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#col-02-photo {
  width: 45%;
  display: flex;
  gap: 1rem;
  background-color: white;
  padding: 0 1rem 1rem 0;
}

#col-02-text-ctx {
  width: 80%;
  margin: 0 0 0 auto;
}
/* end collection part 02 */

/* collection part 03 */

#col-03 {
  margin-top: -8rem;
}

#col-03-content {
  align-items: center;
}

#col-03-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: auto -2.5rem 5% 0;
}
#col-03-text > h1 {
  text-align: end;
  color: white;
  text-shadow: 0px 15px 20px rgba(78, 79, 78, 0.7);
}
#col-03-photo {
  width: 60%;
  z-index: -1;
}

#col-03-photo > img {
  width: 100%;
}

/* Styles for screens less than 768px wide */
@media screen and (max-width: 768px) {
  /* header part*/
  #collection-sub-title-txt > h4 {
    width: auto;
  }
  .container2 {
    width: 95%;
    margin: 0 auto;
  }

  /* row 1*/
  #col-01-text,
  #col-01-logo {
    gap: 0.5rem;
  }

  #col-01-photo {
    padding: 0;
    height: auto;
    gap: 0.8rem;
  }

  #col-01-text {
    flex-grow: 1;
    padding: 0;
  }

  .img-box {
    width: 45%;
    height: 16rem;
  }

  #col-01-logo > img {
    width: 50px;
    background-color: yellow;
  }

  /* line */

  .vertical-bar {
    transform: scale(1, 2);
  }
  .number {
    font-size: 2em;
  }

  .horizontal-bar {
    transform: scale(2, 1.15);
  }

  #col-01-logo > .bar {
    transform: scale(1, 4);
    height: auto;
  }

  /*row 2*/
  #col-01-bottom {
    margin-top: -2rem;
  }

  #col-01-bottom-text {
    padding: 0;
    padding-left: 7%;
    gap: 0.5rem;
    flex-grow: 1;
  }
  #col-01-bottom-text > .bar {
    transform: scale(1, 4);
    margin-bottom: 1rem;
    height: auto;
  }

  #col-01-bottom-text > div > p,
  #col-01-bottom-text > div > span {
    margin: 0 1rem;
    width: 90%;
  }
  #col-01-bottom-photo {
    padding: 0.5em 0 0 0.5em;
    background-color: white;
    width: 45%;
    gap: 0.5rem;
  }

  #col-01-bottom-photo > img,
  #col-02-photo > img {
    height: 12rem;
    width: 48%;
  }

  /*col2*/
  #col-02-photo {
    padding: 0 0.5em 0.5em 0;
    background-color: white;
    /* width: 45%; */
    gap: 0.5rem;
  }
  #col-02-text {
    padding: 0;
    gap: 0.5rem;
    flex-grow: 1;
  }
  #col-02-text-ctx {
    width: 90%;
  }

  /*col3*/
  #col-03 {
    margin-top: -4rem;
  }
  #col-03-content {
    gap: 1.8rem;
  }
}

/* from a minimun width of 768px and bigger  */
@media (min-width: 768px) and (max-width: 959px) {
  /* header part*/
  #collection-sub-title-txt > h4 {
    width: 20rem;
  }

  /* line */
  .vertical-bar {
    transform: scale(1, 2.5);
  }
  .number {
    font-size: 1.8em;
  }

  .horizontal-bar {
    transform: scale(3, 1.15);
  }

  #col-01-logo > .bar {
    transform: scale(1, 5);
    height: auto;
  }
  /* row 1 */

  #col-01-text {
    padding: 1rem 0 0 1rem;
    flex-grow: 1;
  }
  #col-01-bottom-text > .bar {
    transform: scale(1, 5);
    margin-bottom: 1rem;
    height: auto;
  }
  /* row 2*/
  #col-01-bottom {
    margin-top: -3rem;
  }

  #col-02-photo > img,
  #col-01-bottom-photo > img {
    height: 15rem;
  }
  #col-01-bottom-photo,
  #col-02-photo {
    width: 50%;
  }
  #col-01-bottom-text {
    padding: 0;
    padding-left: 10%;
    flex-grow: 1;
  }

  #col-01-bottom-text > div > p,
  #col-01-bottom-text > div > span {
    margin: 0 auto;
    padding: 0;
    width: 60%;
  }

  /*col3*/
  #col-03 {
    margin-top: -4rem;
  }
  #col-03-content {
    gap: 1.8rem;
  }
}

/* from a minimun width of 960px and 1024  */
@media (min-width: 960px) and (max-width: 1024px) {
  /*lines */

  #col-01-logo > .bar {
    transform: scale(1, 6);
    height: auto;
  }
  /* row 1 */

  #col-01-text {
    padding: 1rem 0 0 1rem;
    flex-grow: 1;
  }
  #col-01-bottom-text > .bar {
    transform: scale(1, 5);
    margin-bottom: 1rem;
    height: auto;
  }
  /* row 2*/
  #col-01-bottom {
    margin-top: -3rem;
  }

  #col-02-photo > img,
  #col-01-bottom-photo > img {
    height: 15rem;
  }
  #col-01-bottom-photo,
  #col-02-photo {
    width: 50%;
  }
  #col-01-bottom-text {
    padding: 0;
    padding-left: 10%;
    flex-grow: 1;
  }

  #col-01-bottom-text > div > p,
  #col-01-bottom-text > div > span {
    margin: 0 auto;
    padding: 0;
    width: 60%;
  }

  /*col3*/
  #col-03 {
    margin-top: -6rem;
  }
  #col-03-content {
    gap: 1.8rem;
  }
}
