#footer {
  width: 100%;
  background-color: #e6e7e6;
  position: relative;
  bottom: 0;
  padding: 1rem 3rem;
  font-size: 0.8rem;
  margin-top: 2rem;
  overflow-x: hidden;
}
#footer-con {
  display: flex;
  justify-content: space-between;
}
#footer-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#footer-right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#footer-right > h4,
#ft-address > h4 {
  font-weight: 600;
}
#ft-left-upper {
  display: flex;
  gap: 5rem;
  flex-direction: row;
}
#ft-left-upper > img {
  width: 7rem;
  height: 5rem;
  margin-right: 5rem;
}
#ft-left-upper > ul {
  display: flex;
  gap: 4rem;
  font-weight: 500;
}
#ft-left-down {
  display: flex;
  gap: 6rem;
}
#ft-left-down > ul {
  display: flex;
  gap: 4rem;
}
#footer-right {
  width: 20%;
}
#contact-box > button {
  padding: 5px 20px;
  color: white;
  background-color: black;
  font-size: 17px;
}

#contact-box > input {
  padding: 5px;
}

hr.break-line {
  display: none;
}
/* from a maximum width of 959 and smaller  */
@media screen and (max-width: 959px) {
  #footer-con,
  #ft-left-upper,
  #ft-left-down {
    flex-direction: column;
  }
  #footer-right,
  #footer-left {
    width: 80%;
    margin: auto;
    align-items: center;
  }
  #footer-left,
  #ft-left-upper,
  #ft-left-down {
    gap: 1rem;
  }
  #ft-left-upper > ul,
  #ft-left-down > ul {
    gap: 1rem;
  }
  hr.break-line {
    margin: 2rem 0;
    display: block;
  }
  #ft-left-upper > img {
    margin: auto;
  }
}

/* from a minimun width of 960px and 1024  */
@media (min-width: 960px) and (max-width: 1024px) {
  #footer {
    padding: 5% 0;
  }
  #footer-left,
  #ft-left-upper,
  #ft-left-down {
    gap: 1rem;
  }
  #ft-left-upper > ul,
  #ft-left-down > ul {
    gap: 1rem;
  }
  #footer-right {
    width: 25%;
  }

  #footer-con {
    width: 95%;
    margin: auto;
  }
}
